/* .heading{
    color:rgb(180, 180, 47) !important;
    text-decoration: underline;
    transition: 1s;
width: 300px;
}
.heading:hover{
    text-decoration: none;
    transition: 1s;
} */

.hoverr:hover{
color:rgb(245, 248, 90);
}
.iconi{
    margin-bottom: 50px;
    color:"e7ab0a"
}

